#define IDC_BTN_DEBUG 1001
#define IDC_LSV1 1002
#include "/masm32/include/resource.h"
OPCODE DIALOGEX 150,180,178,142
CAPTION "Non-exported kernel variables - by Opc0de"
FONT 8,"Tahoma"
STYLE 0x80C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Start",IDC_BTN_DEBUG,"Button",0x50018000,120,123,56,17,0x00000000
  CONTROL "",IDC_LSV1,"SysListView32",0x5081800D,2,1,174,118,0x00000000
END
